
.contenedor {
  margin: 0 auto;
  max-width:1200px;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: 130px 1fr;
  background-color: var(--color-background);
  background-image: url('../../Images/Huellasin.png');
  background-repeat: repeat;
  font-family: "Lobster", cursive;

}

.NavBar {

  grid-row: 1/5;
  background-color: black;
  width: 130px;
  

}




.pag{
 display: flex;
 justify-content: center;


}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}




